@page "/playgame"
@inherits PlayGameBase

@if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}

<div class="parent-element d-flex justify-content-center align-items-center vh-60">
    <div class="child-element">
        <div class="sentence">
            @Example.ExampleFull
            <br/>
            @{
                var counter = 0;

                @for (var j = 0; j < SentenceList.Count; j++)
                {
                    @SentenceList[j]

                    if (j < AnswerList.Count)
                    {
                        <text>&nbsp;</text>
                        @foreach (var i in Enumerable.Range(0, AnswerList[j].Length))
                        {
                            var local = counter + i;
                            <input type="text"
                                   style="@BorderColors[local]"
                                   class="xxx"
                                   maxlength="1"
                                   display="inline-block"
                                   max-width="1ch"
                                   @bind="EnteredLetters[local]"
                                   @ref="InputRefs[local]"
                                   @onkeydown="e => { HandleKeyDown(local, e); }"
                                   @oninput="e => { HandleInput(local, e); }"
                                   @onfocusin="() => HandleFocusIn(local)">
                        }
                        counter += AnswerList[j].Length;
                    }
                }
            }
        </div>

        <br/>
        <EditForm Model="EnteredLetters" OnValidSubmit="CheckAnswer">
            <div>
                <input type="hidden" @ref="@InvisibleInput">
            </div>
            <div class="text-center">
                <button class="button-85" role="button" type="submit">@CheckButtonTitle</button>
                <text>&nbsp;</text>
                <button class="button-85" role="button" type="button" @onclick="() => ShowVerbNextLetter()">Show verb's next letter</button>
                <text>&nbsp;</text>
                <button class="button-85" role="button" type="button" @onclick="() => ShowParticle()">Show particle</button>
            </div>
        </EditForm>
    </div>
</div>